/* src/components/navbar/style.css */
.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--black-border);
    background-color: var(--dark-bg);
    color: var(--header-text); /* This affects the text color of the navbar */
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: space-between; /* Use space-between to align items */
    align-items: center;
    column-gap: 10px; /* Adjust gap between items if needed */
    flex-wrap: nowrap; /* Prevent wrapping */
}

.logo {
    margin-right: 0; /* Remove margin */
    width: 100px;
}

.nav-list-container {
    display: flex; /* Flex container for nav list and theme button */
    align-items: center; /* Center items vertically */
}

.nav-list {
    display: flex;
    align-items: center; /* Center list items */
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.nav-list__link {
    color: white; /* Set the font color to white */
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8; /* Slightly change opacity on hover */
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

.theme-button-container {
    margin-left: 20px; /* Space between nav list and button */
}

.avatar-container {
    cursor: pointer; /* Change cursor to pointer for the avatar */
}
